* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0 !important;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0 !important;
    font-family: sans-serif;
}

@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Regular.eot');
    src: url('font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Gilroy-Regular.woff') format('woff'),
        url('font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/font/Gilroy-ExtraBold.ttf');
}

@font-face {
    font-family: 'ExtraBold_Gilroy';
    src: url('/font/Gilroy-ExtraBold.ttf');
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('font/SFUIDisplay-Regular.eot');
    src: url('font/SFUIDisplay-Regularr.eot?#iefix') format('embedded-opentype'),
        url('font/SFUIDisplay-Regular.woff') format('woff'),
        url('font/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-SemiBold';
    src: url('/font/SFUIDisplay-Semibold.ttf');
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 0;
}

.how_We_can_Help {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 162px;
}

.help {
    font-family: 'ExtraBold_Gilroy';
    font-size: 65px;
    line-height: 70px;
    letter-spacing: 0;
    color: #2E313A;
}

iframe {
    width: 1603px;
    height: 606px;
}

.text {
    width: 900px;
    height: 94px;
    text-align: left;
    font-family: 'SFUIDisplay';
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0;
    color: #0D0D0D;
    margin: 0 22% 0 0;
}

.additionally {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.course_from_us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
}

.course_from_us h4 {
    text-align: left;
    font-family: 'Gilroy-ExtraBold';
    font-size: 30px;
    line-height: 87px;
    letter-spacing: 0;
    color: #2E313A;
}

.course_from_us span {
    text-align: left;
    font-family: 'SFUIDisplay-SemiBold';
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0;
    color: #2E313A;
    opacity: 0.78;
}

.team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
}

.team h4 {
    text-align: left;
    font-family: 'Gilroy-ExtraBold';
    font-size: 30px;
    line-height: 87px;
    letter-spacing: 0;
    color: #2E313A;
}

.team span {
    text-align: left;
    font-family: 'SFUIDisplay-SemiBold';
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0;
    color: #2E313A;
    opacity: 0.78;
}

@media only screen and (min-width : 1530px) and (max-width : 1919px) {}

@media only screen and (min-width : 1440px) and (max-width : 1529px) {}

@media only screen and (min-width : 1200px) and (max-width : 1439px) {}

@media only screen and (min-width : 1024px) and (max-width : 1199px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 1199px;
        padding: 10px 0 0;
    }

    iframe {
        width: 1024px;
        margin-top: 10px;
        height: 300px;
    }

    .how_We_can_Help {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 80px;
    }

    .help {
        font-size: 35px;
        line-height: 30px;
    }

    .text {
        width: 660px;
        height: 80px;
        text-align: left;
        font-family: 'SFUIDisplay';
        font-size: 14px;
        line-height: 35px;
        letter-spacing: 0;
        color: #0D0D0D;
        text-align: center;
    }

    .additionally {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 200px;
    }

    .course_from_us {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .course_from_us h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
    }

    .course_from_us span {
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0;
    }

    .team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .team h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
        text-align: center;
        padding: 0 0 0 50px;
    }

    .team span {
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1023px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 1023px;
        padding: 10px 0 0;
    }

    iframe {
        width: 812px;
        margin-top: 10px;
        height: 300px;
    }

    .how_We_can_Help {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 80px;
    }

    .help {
        font-size: 35px;
        line-height: 30px;
    }

    .text {
        width: 660px;
        height: 80px;
        text-align: left;
        font-family: 'SFUIDisplay';
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0;
        color: #0D0D0D;
        text-align: center;
    }

    .additionally {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 200px;
    }

    .course_from_us {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .course_from_us h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
    }

    .course_from_us span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }

    .team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .team h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
        text-align: center;
        padding: 0 0 0 50px;
    }

    .team span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }
}

@media only screen and (min-width : 640px) and (max-width : 767px) {


    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 767px;
        padding: 10px 0 0;
    }

    iframe {
        width: 667px;
        margin-top: 10px;
        height: 300px;
    }

    .how_We_can_Help {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 80px;
    }

    .help {
        font-size: 35px;
        line-height: 30px;
    }

    .text {
        width: 660px;
        height: 80px;
        text-align: left;
        font-family: 'SFUIDisplay';
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0;
        color: #0D0D0D;
        text-align: center;
    }

    .additionally {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 200px;
    }

    .course_from_us {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .course_from_us h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
    }

    .course_from_us span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }

    .team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .team h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
        text-align: center;
        padding: 0 0 0 50px;
    }

    .team span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }
}

@media only screen and (min-width : 480px) and (max-width : 639px) {


    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 639px;
        padding: 10px 0 0;
    }

    iframe {
        width: 568px;
        margin-top: 10px;
        height: 300px;
    }

    .how_We_can_Help {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 80px;
    }

    .help {
        font-size: 35px;
        line-height: 30px;
    }

    .text {
        width: 450px;
        height: 100px;
        text-align: left;
        font-family: 'SFUIDisplay';
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0;
        color: #0D0D0D;
        text-align: center;
    }

    .additionally {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 200px;
    }

    .course_from_us {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .course_from_us h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
    }

    .course_from_us span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }

    .team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .team h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
        text-align: center;
        padding: 0 0 0 50px;
    }

    .team span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }
}

@media only screen and (min-width : 320px) and (max-width : 479px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 320px;
        padding: 10px 0 0;
    }

    iframe {
        width: 320px;
        margin-top: 50px;
        height: 400px;
    }

    .help {
        font-size: 35px;
        line-height: 30px;
    }

    .text {
        width: 320px;
        height: 100px;
        text-align: left;
        font-family: 'SFUIDisplay';
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0;
        color: #0D0D0D;
        text-align: center;
    }

    .additionally {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 400px;
    }

    .course_from_us {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .course_from_us h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
    }

    .course_from_us span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }

    .team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 200px;
    }

    .team h4 {
        text-align: left;
        font-family: 'Gilroy-ExtraBold';
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0;
        color: #2E313A;
        text-align: center;
    }

    .team span {
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 0;
    }

}